div img.itcsi {
    border-radius: 50% !important;
    width: 150px !important;
    height: 150px !important;
    background: #fff !important;
    padding: 5px !important;
}
.login-box {
    width: 1000px !important;
}